.course-text-container {
  margin-top: 0;
  padding-left: 35px;
  padding-right: 35px;
}
.course-selection {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 33px;
}
.course-intro {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 8px;
  font-weight: 400;
  font-size: 19px;
}
.course-related-topics {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 35px;
}
.listOfCourses {
  font-family: sans-serif;
  font-weight: bold;
  color: grey;
  padding-right: 45px;
  padding-top: 10px;
}
.listOfCourses :hover {
  color: rgb(0, 0, 0);
}
.listOfCourses.active {
  color: black ;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
.courses {
  font-family: sans-serif;
  border: 1px solid rgb(187, 187, 187);
  padding: 25px;
  padding-bottom: 10px;
  padding-right: 18px;
  margin-left: 35px;
  margin-right: 35px;
}
.courses-header-text {
  width: 55%;
}
.courses-header-text .title {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 15px;
}
.courses-header-text .details {
  font-family: roboto Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 420;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.839);
  padding-bottom: 25px;
}
.Explore-btn {
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px; 
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  color: black;
}
.Explore-btn:hover {
  background-color: rgba(128, 128, 128, 0.174);
}
.checked {
  color: orange;
}
.card-title{
  font-weight: bold;
}
.card-author{
  font-size: 13px;
  color: gray;
  font-weight: 100;
}
.card-rate .students,
.card-price{
  font-size: 15px;
  font-weight: 700;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.items-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.card-img-top{
  border: 1px solid rgba(0, 0, 0, 0.243);
}
.carousel-control-prev,
.carousel-control-next{
  background-color: #e1e1e1;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  top: 25%;
  transform: translateY(-50%);
}

.cato{
  margin: 30px;
}
